---
import "../styles/global.css";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import bruno from "../assets/bruno.jpg";
import britz from "../assets/britz.png";
import obbo from "../assets/obbo.svg";
import mwkonzept from "../assets/mwkonzept.png";
---

<div class="flex flex-col md:hidden">
  <nav class="bg-primary z-20 flex h-40 w-full flex-row">
    <div
      class="mobile-menu flex h-min flex-1 content-center justify-start text-white"
    >
      <span class="material-symbols-rounded ml-1 text-4xl!"> menu </span>
      <label class="self-center text-sm font-light">MENÜ</label>
    </div>
    <div class="flex flex-1 justify-center self-center">
      <Image class="h-28 w-28" src={logo} alt="Club Logo." />
    </div>
    <div class="flex flex-1 justify-end">
      <span class="material-symbols-rounded mt-1.5 mr-1 text-xl! text-white">
        search
      </span>
    </div>
  </nav>
  <div
    class="bg-primary mobile-sliding-menu overshoot absolute z-10 flex h-lvh w-full flex-1 flex-col text-white"
  >
    <div class="h-40"></div>
    <div
      class="flex max-h-[calc(50%-(--spacing(20)))] flex-1 flex-col content-center justify-evenly p-4 text-3xl font-light"
    >
      <a href="/" class="link">NEWS</a>
      <a href="/vorstand" class="link">VORSTAND</a>
      <a class="link">KONTAKT</a>
      <a class="link">IMPRESSUM</a>
    </div>
    <div
      class="flex max-h-[calc(50%-(--spacing(20)))] flex-1 content-center rounded-xs border-1 border-white text-center text-2xl font-light"
    >
      <div
        class="bigsponsorscroller hidescrollbar flex max-h-full w-full flex-1 snap-x snap-mandatory overflow-auto scroll-smooth"
      >
        <div class="flex max-h-full max-w-full min-w-full snap-center p-10">
          <Image class="fobject-contain flex-1" src={obbo} alt="Club Logo." />
        </div>
        <div class="flex max-h-full max-w-full min-w-full snap-center p-10">
          <Image
            class="flex-1 object-contain"
            src={mwkonzept}
            alt="Club Logo."
          />
        </div>
        <div class="flex max-h-full max-w-full min-w-full snap-center p-10">
          <Image class="flex-1 object-contain" src={britz} alt="Club Logo." />
        </div>
        <div class="flex max-h-full max-w-full min-w-full snap-center p-10">
          <Image class="flex-1 object-contain" src={bruno} alt="Club Logo." />
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="bg-primary z-20 hidden w-full flex-col justify-end text-white md:flex"
>
  <div
    class="sponsorcontainer hidescrollbar mr-3 flex h-33 w-42 snap-x snap-mandatory self-end overflow-auto scroll-smooth"
  >
    <div class="flex max-h-full max-w-full min-w-full snap-center">
      <Image class="flex-1 object-contain" src={obbo} alt="Club Logo." />
    </div>
    <div class="flex max-h-full max-w-full min-w-full snap-center">
      <Image class="flex-1 object-contain" src={mwkonzept} alt="Club Logo." />
    </div>
    <div class="flex max-h-full max-w-full min-w-full snap-center">
      <Image class="flex-1 object-contain" src={britz} alt="Club Logo." />
    </div>
    <div class="flex max-h-full max-w-full min-w-full snap-center">
      <Image class="flex-1 object-contain" src={bruno} alt="Club Logo." />
    </div>
  </div>
  <div class="mb-3 flex w-full flex-row self-end">
    <div class="ml-3 flex flex-1 flex-col self-center">
      <div class="mb-[-3px] font-extralight">svalemannia</div>
      <div class="mt-[-3px] font-black">THALEXWEILER</div>
    </div>
    <nav
      class="mr-3 flex w-full flex-3 flex-row content-center justify-end gap-3 self-center text-xs font-bold"
    >
      <a href="/" class="link">NEWS</a>
      <a href="/vorstand" class="link">VORSTAND</a>
      <a class="link">KONTAKT</a>
      <a class="link">IMPRESSUM</a>
    </nav>
    <Image class="mr-3" width="38" height="38" src={logo} alt="Club Logo." />
  </div>
</div>

<script>
  document.querySelector(".mobile-menu")?.addEventListener("click", () => {
    document
      .querySelector(".mobile-sliding-menu")
      ?.classList.toggle("expanded");
  });
  document.querySelectorAll(".link").forEach((item) => {
    item.addEventListener("click", () => {
      document
        .querySelector(".mobile-sliding-menu")
        ?.classList.remove("expanded");
    });
  });

  var scrollHandler: NodeJS.Timeout;
  window.addEventListener("load", scrollBigSponsors, true);
  function scrollBigSponsors() {
    const scroller = document.querySelector(".bigsponsorscroller");
    scrollHandler = setInterval(function () {
      if (scroller) {
        let max_scroll = scroller.scrollWidth - scroller.clientWidth;
        let current_scroll = scroller.scrollLeft;
        if (scroller.scrollLeft + scroller.clientWidth * 0.51 > max_scroll) {
          scroller.scrollLeft = 0;
        } else
          scroller.scrollLeft = current_scroll + scroller.clientWidth * 0.51;
      }
    }, 2500);
    const scroller2 = document.querySelector(".sponsorcontainer");
    scrollHandler = setInterval(function () {
      if (scroller2) {
        let max_scroll = scroller2.scrollWidth - scroller2.clientWidth;
        let current_scroll = scroller2.scrollLeft;
        if (scroller2.scrollLeft + scroller2.clientWidth * 0.51 > max_scroll) {
          scroller2.scrollLeft = 0;
        } else
          scroller2.scrollLeft = current_scroll + scroller2.clientWidth * 0.51;
      }
    }, 2500);
  }
</script>
<style>
  .mobile-sliding-menu {
    transform: translateY(-100%);
  }

  .mobile-sliding-menu.expanded {
    transform: translateY(0%);
  }
</style>
