---
const { ImageUrl, Title, Tag, Description, Date } = Astro.props;
import { Image } from "astro:assets";
import iglogo from "../assets/instagram2.svg";
---

<a
  href="createthisurlforstorynews"
  class="card bg-background after:bg-primary relative box-border flex h-max w-1/4 shrink-0 flex-col gap-4 rounded-b-sm border-x-[calc(var(--spacing)*2)] border-x-transparent pb-16 text-white before:absolute before:right-0 before:bottom-0 before:z-2 before:h-[2px] before:w-full before:bg-gray-600 before:transition-[width] before:duration-300 before:ease-in-out before:content-[''] after:absolute after:bottom-0 after:left-0 after:z-2 after:h-[2px] after:w-0 after:transition-[width] after:delay-300 after:duration-300 after:ease-[cubic-bezier(0.55,0.085,0.68,0.53)] after:content-[''] hover:before:w-0 hover:after:w-full"
>
  <div class="flex aspect-[100/56] w-full overflow-hidden">
    <Image
      src={ImageUrl}
      inferSize
      alt="Portrait"
      class="min-w-full object-fill"
    />
  </div>

  <div class="flex w-full flex-row items-center gap-3">
    <div class="bg-primary h-3 w-10"></div>
    <h3 class="text-md font-medium text-white">
      {Date} / {Tag}
    </h3>
  </div>

  <h1 class="text-3xl font-semibold">
    {Title}
  </h1>

  <div class="text-md h-max font-light overflow-ellipsis text-gray-300">
    <p class="inter-primary line-clamp-4 text-wrap">{Description}</p>
  </div>
</a>
