---
const { ImageUrl, Title, Tag, Description, Date, Path } = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import iglogo from "../assets/instagram2.svg";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,svg}",
);

if (!images[ImageUrl])
  throw new Error(
    `"${ImageUrl}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
---

<div class="bg-background newscardcontainer flex h-auto w-1/4 shrink-0 px-2">
  <a
    href={"news/" + Path}
    class="card after:bg-primary relative flex h-auto w-full shrink-0 flex-col justify-start gap-8 pb-8 text-white before:absolute before:right-0 before:bottom-0 before:z-2 before:h-[2px] before:w-full before:bg-gray-600 before:transition-[width] before:duration-300 before:ease-in-out before:content-[''] after:absolute after:bottom-0 after:left-0 after:z-2 after:h-[2px] after:w-0 after:transition-[width] after:delay-125 after:duration-300 after:ease-[cubic-bezier(0.55,0.085,0.68,0.53)] after:content-[''] hover:cursor-pointer hover:before:w-0 hover:after:w-full"
  >
    <div class="flex aspect-[100/56] w-full overflow-hidden">
      <Image
        src={images[ImageUrl]()}
        inferSize
        alt="Portrait"
        class="min-w-full object-fill"
      />
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex w-full flex-row items-center gap-4">
        <div class="bg-primary h-3 w-10"></div>
        <h3 class="text-sm font-medium text-white 2xl:text-base">
          {Date} / {Tag}
        </h3>
      </div>

      <h1 class="text-xl font-semibold 2xl:text-3xl">
        {Title}
      </h1>

      <div
        class="h-max text-sm font-light overflow-ellipsis text-gray-300 2xl:text-base"
      >
        <p class="inter-primary line-clamp-4 text-wrap">{Description}</p>
      </div>
    </div>
  </a>
</div>
